<h1>Hello world</h1>

<%= link_to "Landing Page", root_path, class: "btn btn-primary text-white"  %>
<div class="jumbotron">
  <div class="display-4">
    What do you want to learn today?
  </div>
  <div class="p-4"></div>
</div>
