<%= link_to 'Courses', courses_path %>
\/
<%= link_to @course.title, course_path(@course) %>
\/
new lesson
<p></p>


<div class="card">
  <h3>
    <div class="fa fa-graduation-cap"></div>
    New lesson
  </h3>

  <div class="card-body">
    <%= render 'form' %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back to course', course_path(@course) %>
  </div>
</div>
